* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Begin test stuff */


/* End test stuff */

/******************
 * Basic elements *
 ******************/
body {
    font-size: 15px;
}

button {
    border: 1px, solid, black;
    padding: 10px;
}

/**************
 * Main Board *
 **************/

.board {
    border: 2px, solid, white;
    width: 800px;
    height: 600px;
    margin: 20px;
    background-color: black;

    display: flex;
}

.enemy-display,
.friend-display {
    width: 600px;
    height: 199px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    width: 600px;
    height: 200px;
}

/* .enemy-display {
    height: 200px;
    border-bottom: 5px, solid, black;
} */

.enemy-display,
.friend-display,
.menu,
.combat-log {
    background-color: gray;
}

/**************
 * Characters *
 **************/

 .character {
    width: 64px;
    height: 128px;
 }

.character .portrait {
    border: 1px, solid, black;
}

 .character .portrait,
 .character .stat-block {
    text-align: center;
    width: 64px;
    height: 64px;
 }

 .character .stamina {
    color: red;
 }

 .character .ki {
    color: blue;
 }

 .character .speed {
    color: yellow;
 }



/**************
 * COMBAT LOG *
 **************/

 .combat-log {
    width: 199px;
    margin-left: 1px;
    height: 600px;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.combat-log::-webkit-scrollbar {
    display: none;
}

 .combat-log p {
    margin: 10px;
 }

 /********
  * Menu *
  ********/

  .menu {
    display: flex;
  }

  .main-menu,
  .sub-menu {
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .sub-menu {
    margin-left: 25px;
  }

  .menu button {
    padding: 5px;
    margin: 5px;
    border: 2px, solid, black;
    background-color: rgb(212, 180, 180);
    width: 125px;
    height: 30px;
  }

/**************
 * Turn Order *
 **************/

 #turn-order {
    width: 200px;
 }