* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Test Borders */
.enemy-display,
.friend-display,
.menu,
.combat-log,
.character,
.stat-block,
.portrait {
    border: 2px, solid, black;
}

.enemy-display, 
.friend-display {
    border-color: red;
}

.menu,
.stat-block {
    border-color: green;
}

.combat-log,
.portrait {
    background-color: gray;
    border-color: purple;
}

.combat-log p {
    border: 1px, solid, black;
}
/* End Test Borders */

/******************
 * Basic elements *
 ******************/
body {
    font-size: 15px;
}

button {
    border: 1px, solid, black;
    padding: 10px;
}

/**************
 * Main Board *
 **************/

.board {
    border: 2px, solid, black;
    width: 800px;
    height: 600px;
    margin: 20px;
    
    display: flex;
}

.enemy-display,
.friend-display {
    width: 600px;
    height: 200px;
}

.menu {
    width: 600px;
    height: 200px;
    /* border-top: 1px, solid, black; */
}

/* .enemy-display {
    height: 200px;
    border-bottom: 5px, solid, black;
} */

.enemy-display,
.friend-display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/**************
 * Characters *
 **************/

 .character {
    width: 64px;
    height: 128px;
 }

.character .portrait {
    border: 1px, solid, black;
}

 .character .portrait,
 .character .stat-block {
    text-align: center;
    width: 64px;
    height: 64px;
 }

/**************
 * COMBAT LOG *
 **************/

 .combat-log {
    width: 200px;
    height: 600px;
    /* border-left: 1px, solid, black; */
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.combat-log::-webkit-scrollbar {
    display: none;
}

 .combat-log p {
    margin: 10px;
 }